.students p{
    margin:0;
    padding:0;
    border: solid 0px black;
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
}

.adults p{
    margin:0;
    padding:0;
    border: solid 0px black;
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
}

.other_people p{
    margin:0;
    padding:0;
    border: solid 0px black;
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
}


h1{
    font-size: 36px;
}